<!DOCTYPE html>
<html lang="en">

<!-- header css -->
<%- include('../partials/header') %>
<body>
    
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    
    <!-- navbar -->
     <%- include('../partials/navbar') %>
    
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Fresh and Organic</p>
                        <h1>Menu</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- products -->
    <div class="product-section mt-150 mb-150">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <% categories.forEach(category => { %>
                                <li data-filter=".<%= category.name.toLowerCase() %>"><%= category.name %></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row product-lists">
                    <!-- Loop through products -->
                    <% products.forEach(product => { %>
                        <div class="col-lg-4 col-md-6 text-center <%= product.category.name.toLowerCase() %>">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="/product/<%= product._id %>">
                                        <img src="<%= product.image %>" alt="<%= product.name %>">
                                    </a>
                                </div>
                                <h3><%= product.name %></h3>
                                <p class="product-price">
                                    <span>Full</span> $<%= product.price %>
                                </p>
                                <a href="/cart/add/<%= product._id %>" class="cart-btn">
                                    <i class="fas fa-shopping-cart"></i> Add to Cart
                                </a>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <% if (currentpage > 1) { %>
                            <li><a href="?page=<%= currentpage - 1 %>">Prev</a></li>
                        <% } else { %>
                            <li class="disabled"><span>Prev</span></li>
                        <% } %>

                        <% for (let i = 1; i <= totalpages; i++) { %>
                            <li class="<%= currentpage === i ? 'active' : '' %>">
                                <a href="?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>

                        <% if (currentpage < totalpages) { %>
                            <li><a href="?page=<%= currentpage + 1 %>">Next</a></li>
                        <% } else { %>
                            <li class="disabled"><span>Next</span></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end products -->

    <!-- footer -->
     <%- include('../partials/footer') %>
     <!-- script -->
<%- include('../partials/script') %>
</body>
</html>
