<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('../partials/header') %>
<body>

    <!-- PreLoader -->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!-- PreLoader Ends -->

    <!-- Navbar -->
    <%- include('../partials/navbar') %>


    <!-- Breadcrumb Section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Fresh and Organic</p>
                        <h1>Menu</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Section -->

    <!-- Products Section -->
    <div class="product-section mt-150 mb-150">
        <div class="container">

            <!-- Product Filters -->
            <div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <% categories.forEach(category => { %>
                                <li data-filter=".<%= category.name.toLowerCase() %>">
                                    <%= category.name %>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Product List -->
            <div class="row product-lists">
                <% products.forEach(product => { %>
                    <div class="col-lg-4 col-md-6 text-center <%= product.category.name.toLowerCase() %>">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="/product/<%= product._id %>">
                                    <img src="<%= product.image %>" alt="<%= product.name %>">
                                </a>
                            </div>
                            <h3><%= product.name %></h3>
                            <p class="product-price"><span>Full</span> ₹<%= product.price %></p>
                            <button type="button" class="cart-btn add-to-cart" data-product-id="<%= product._id %>">
                                <i class="fas fa-shopping-cart"></i> Add to cart
                            </button>
                        </div>
                    </div>
                <% }); %>
            </div>
            <!-- End Product List -->

        </div>

        <!-- Pagination -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <% if (currentpage > 1) { %>
                            <li><a href="?page=<%= currentpage - 1 %>">Prev</a></li>
                        <% } else { %>
                            <li class="disabled"><span>Prev</span></li>
                        <% } %>

                        <% for (let i = 1; i <= totalpages; i++) { %>
                            <li class="<%= currentpage === i ? 'active' : '' %>">
                                <a href="?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>

                        <% if (currentpage < totalpages) { %>
                            <li><a href="?page=<%= currentpage + 1 %>">Next</a></li>
                        <% } else { %>
                            <li class="disabled"><span>Next</span></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Pagination -->

    </div>
    <!-- End Products Section -->

    <!-- Footer -->
    <%- include('../partials/footer') %>

    <!-- Script -->
    <%- include('../partials/script') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle Add to Cart Button Click
            $('.add-to-cart').on('click', function () {
                const productId = $(this).data('product-id');
    
                $.ajax({
                    url: '/cart/add', // Backend route to add to cart
                    method: 'POST',
                    data: { productId },
                    success: function (response) {
                        if (response.success) {
                            // Show a success message in a notification area
                            const notification = $('<div class="cart-notification">Item added to cart successfully!</div>');
                            $('body').append(notification);
                            notification.fadeOut(3000, function () {
                                $(this).remove();
                            });
    
                            // Update cart count in navbar
                            $('#cart-item-count').text(response.cartItemCount);
                        } else {
                            // Show an error message in a notification area
                            const notification = $('<div class="cart-notification error">' + response.message + '</div>');
                            $('body').append(notification);
                            notification.fadeOut(3000, function () {
                                $(this).remove();
                            });
                        }
                    },
                    error: function () {
                        // Show a generic error message in a notification area
                        const notification = $('<div class="cart-notification error">Error adding product to cart. Please try again.</div>');
                        $('body').append(notification);
                        notification.fadeOut(3000, function () {
                            $(this).remove();
                        });
                    }
                });
            });
        });
    </script>
    

</body>
</html>
